.portfolio{
    margin-top:15px;
    padding-top:30px;
}

.portfolio-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap :2.5rem;
    margin: auto;


}

.portfolio-item{
    background: var(--color-bg-variant);
    padding: 1.2rem;
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
    border: 1px solid transparent;
    transform: var(--transition);
    -webkit-transform: var(--transition);
    -moz-transform: var(--transition);
    -ms-transform: var(--transition);
    -o-transform: var(--transition);
}

.portfolio-item:hover{
    border-color: var(--color-primary-variant);
    background: transparent;
}

.portfolio-item-image{
    border-radius: 1.5rem;
    overflow: hidden;
    -webkit-border-radius: 1.5rem;
    -moz-border-radius: 1.5rem;
    -ms-border-radius: 1.5rem;
    -o-border-radius: 1.5rem;
}
.portfolio-item h3{
    margin: 1.2rem 0 2rem;
}


.portfolio-item-cta{
    display:flex;
    gap: 1rem;
    margin-bottom: 1rem;
}


/* *****************************  MEDIA QUERIES (MEDIUM DEVICES) ************* */
@media screen and (max-width: 1024px){
    .portfolio-container{
        grid-template-columns: 1fr 1fr;
        gap: 1.5rem;
        display: grid;
        margin: auto;
    }
}

/* *****************************  MEDIA QUERIES (SMALL DEVICES) ************* */
@media screen and (max-width: 600px){
    .portfolio-container{
        grid-template-columns: 1fr;
        gap: 1.5rem;

    }

}